<% if @order.present? %>
<h1> Your Order </h1>
<h3>
  <br>
  IMEI: <%= @order.imei %>
  <br>
  Lock Status:
  <br>
  Carrier:
</h3>
<p>
  <strong>Details:</strong>
  <%= raw(@order.raw_result['SUCCESS'][0]['CODE']) %>
</p>
<h3><a href='http://www.rapidunlockers.com'> Click here to unlock this phone</a><h3>
<% else %>
<h2> Order does not exist, </h2>
<% end %>
