<h1> Your Order </h1>

<% if @order.present? %>
<p>
  <strong>IMEI:</strong>
  <%= @order.imei %>
</p>
<p>
  <strong>customer_email:</strong>
  <%= @order.customer_email %>
</p>
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<p>
  <strong>Code:</strong>
  <%= @order.raw_result['SUCCESS'][0]['CODE'] %>
</p>
<% else %>
<h2> Order does not exist </h2>
<% end %>
