<h1> Orders Show </h1>

<p>
  <strong>IMEI:</strong>
  <%= @order.imei %>
</p>
<p>
  <strong>customer_email:</strong>
  <%= @order.customer_email %>
</p>
<p>
  <strong>status:</strong>
  <%= @order.status %>
</p>
